.App {
    text-align: center;
    padding-top: 80px;
    margin-bottom: 1000px;
  }
  .App > div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
  .inputTextArea {
    height: 60px;
    width: 500px;
    border-radius: 25px;
    margin-right: 15px;
    font-size: 18px;
    padding: 5px;
  }
  
  .chatbtn {
    cursor: pointer;
    height: 60px;
    width: 70px;
    border-radius: 15px;
    background: antiquewhite;
    font-size: 18px;
  }
  
  .response {
    padding: 65px;
  }
  @media (max-width: 649px) {
    .inputTextArea {
      width: 400px;
    }
  }
  
  @media (max-width: 548px) {
    .inputTextArea {
      width: 300px;
    }
  }
  @media (max-width: 449px) {
    .App > div {
      flex-direction: column;
    }
    .inputTextArea {
      width: 350px;
    }
  }
  @media (max-width: 382px) {
    .inputTextArea {
      width: 270px;
    }
  }